<div class="card">
    <div class="card-header">
        <label>{{'general.title' | translate}}</label>
    </div>
    <div class="card-body">
        <app-king-b-time (timeEvent)="validate($event)" [name]="'time'" [label]="'Hora'" [error]="'Hora é'"
            [form]="formulario" [icon]="'far fa-clock'">
        </app-king-b-time>

        <app-king-b-textarea (textAreaEvent)="validate($event)" [name]="'textarea'" [label]="'Caixa de Texto'"
            [error]="'Caixa de Texto é'" [form]="formulario" [prefix]="'#'" [icon]="'fas fa-text-height'">
        </app-king-b-textarea>

        <app-king-b-text (textEvent)="validate($event)" [name]="'text'" [label]="'Texto'" [error]="'Texto é'"
            [form]="formulario" [prefix]="'#'" [icon]="'fas fa-hashtag'">
        </app-king-b-text>

        <app-king-b-telefone (phoneEvent)="validate($event)" [name]="'phone'" [label]="'Telefone'"
            [error]="'Telefone é'" [form]="formulario" [icon]="'fas fa-phone'">
        </app-king-b-telefone>

        <app-king-b-senha (passwdEvent)="validate($event)" [name]="'passwd'" [label]="'Senha'" [error]="'Senha é'"
            [form]="formulario" [icon]="'fas fa-asterisk'">
        </app-king-b-senha>

        <app-king-b-select (selectEvent)="validate($event)" [name]="'select'" [label]="'Selecionar'"
            [error]="'Selecionar é'" [form]="formulario" [prefix]="'Busca'" [icon]="'fas fa-th-list'"
            [setOpts]="valuesSelect">
        </app-king-b-select>

        <app-king-b-number (numberEvent)="validate($event)" [name]="'number'" [label]="'Número'" [error]="'Número é'"
            [form]="formulario" [prefix]="'Nº'" [icon]="'fas fa-list-ol'">
        </app-king-b-number>

        <app-king-b-money (moneyEvent)="validate($event)" [name]="'money'" [label]="'Moeda'" [error]="'Moeda é'"
            [form]="formulario" [prefix]="'R$'" [icon]="'fas fa-dollar-sign'">
        </app-king-b-money>

        <app-king-b-image (imageEvent)="validate($event)" [name]="'image'" [label]="'Imagem'" [error]="'Imagem é'"
            [form]="formulario" [icon]="'far fa-images'" [multiple]="true">
        </app-king-b-image>

        <app-king-b-email (emailEvent)="validate($event)" [name]="'email'" [label]="'Email'" [error]="'Email é'"
            [form]="formulario" [icon]="'fas fa-at'">
        </app-king-b-email>

        <app-king-b-date (dateEvent)="validate($event)" [name]="'date'" [label]="'Data'" [error]="'Data é'"
            [form]="formulario" [prefix]="'Date'" [icon]="'far fa-calendar-alt'">
        </app-king-b-date>

        <app-king-b-data-hora (dateEvent)="validate($event)" [name]="'datetime'" [label]="'Data & Hora'"
            [error]="'Data & Hora é'" [form]="formulario" [prefix]="'DateTme'" [icon1]="'far fa-calendar-alt'"
            [icon2]="'far fa-clock'">
        </app-king-b-data-hora>

        <app-king-b-consulta (filterEvent)="validate($event)" [name]="'consulta'" [label]="'Consulta'"
            [prefix]="'Consultar'" [icon]="'fas fa-th-list'" [error]="'Consulta é'" [setOpts]="valuesSelect"
            [form]="formulario">
        </app-king-b-consulta>

        <app-king-b-checkbox (checkEvent)="validate($event)" [name]="'checkbox'" [label]="'Caixa de seleção'"
            [error]="'Caixa de seleção é'" [form]="formulario">
        </app-king-b-checkbox>

        <app-king-b-checkgroup (checkgroupEvent)="validate($event)" [name]="'checkgroup'" [label]="'Caixas de seleçãos'"
            [error]="'Ao menos uma Caixa de seleção deve ser selecionada'" [form]="formulario">
        </app-king-b-checkgroup>
    </div>
    <div class="card-footer">
        <div class="float-right">
            <button type="button" class="btn btn-outline-secondary" (click)="create()">{{'general.button.cancel'
                |
                translate
                }}</button>
            <button type="button" class="btn btn-outline-primary ml-2" (click)="cancelar()">{{'general.button.save'
                |
                translate
                }}</button>
        </div>
    </div>
</div>